html {
    height: 100%;
    margin: 0;
}

body {
    background-color:#ffffff;
    background-image: url(background3.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1em; 

}


.header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 25;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 992px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 70%;
      max-width: 70%;
    }
  }

  @media screen and (max-width: 576px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

.container {
    margin-left:auto;
    margin-right: auto;
    width: 1024px
}



header {
    height: 120px;
    text-align: left;
    
}


nav {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(16, 111, 24, 0.315) 0%, rgba(252,176,69,1) 100%);
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: cursive;

}

nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgba(51, 145, 67, 0.788);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color:rgba(5, 65, 23, 0.979);
  }
  
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(224,86,86);
  background: linear-gradient(90deg, rgba(224,86,86,0.8743872549019608) 5%, rgba(237,238,67,0.8799894957983193) 94%);
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


main {
    height: 400px;
    text-align: center;
    margin-top: 30px;
    padding-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
}



h1 {
    font-size: 70px;
    color: rgb(18, 61, 18);
}

p {
    font-size: 18px;
    color:rgba(17, 90, 39, 0.979);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2 {
    font-size: 20px;
    color:rgba(17, 90, 39, 0.979);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
    font-size: 18px;
    color:rgba(17, 90, 39, 0.979);
    
}

ol {
    text-align: center;
    list-style-position: inside;
    font-size: 18px;
    color:rgba(17, 90, 39, 0.979);
    
}

a {
    color: rgba(17, 90, 39, 0.979);
    font-family: monospace;
    text-decoration: none;
   
}


nav a {
    color: rgba(17, 90, 39, 0.979);
    text-decoration: none;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
}


iframe {
    text-align: center;
    margin-top: 0px;

}


#citronzale { 
    border-radius: 50%;
    align-items: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(87, 167, 84, 0.774);
    color: rgb(12, 53, 8);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgba(10, 48, 18, 0.842);
  }

*{box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.phone-ad {
  position: relative;
  width: 100%;
  max-width: 380px;
  float: right;
}

/* Make the image to responsive */

.phone-ad-Facebook-messenger {
  position: relative;
  width: 100%;
  float: right;
}

.phone-ad-instagram {
  position: relative;
  width: 100%;
  float: right;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(3, 32, 5, 0.808); /* Green see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}

/* When  mouse over the container, fade in the overlay title */
.phone-ad-Facebook-messenger:hover .overlay {
  opacity: 1;
}

.phone-ad-instagram:hover .overlay {
  opacity: 1;
}

/*Kontakktu sadala*/
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: right;
  width: 100px;
  padding: 10px;
  gap: 4px;
  
}

.column123 {
  float: right;
  width: 350px;
  padding: 10px;
  gap: 4px;

  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
  }
}

/*TEST ENDS*/


  
  @media screen and (max-width: 600px) {
    .container {
      flex: 75%;
      max-width: 75%;
    }
  }

  @media screen and (max-width: 576px) {
    .container {
      flex: 50%;
      max-width: 50%;
    
    }
  }
  @media screen and (max-width: 992px) {
    .container {
      flex: 100%;
      max-width: 100%;
    
    }
  }


  /* do not know if works or not - footer {
    height: 50px;
    flex-shrink: 0;
    background: rgb(131,58,180);
    bottom:0px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(26,193,40,0.5298494397759104) 0%, rgba(252,176,69,1) 100%);
  } */

  /* do not know if works or not -  - footer {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(26,193,40,0.5298494397759104) 0%, rgba(252,176,69,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1500px;
    bottom:0px;
  } */

  footer {
    left: 0px;
    flex-shrink: 0;
    bottom: fixed;
    height: 50px;
    width: 100%;
    margin-top: 2000px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(26,193,40,0.5298494397759104) 0%, rgba(252,176,69,1) 100%);
}


footer p {
    font-size: 10px;
    text-align: center;
    color: rgba(17, 90, 39, 0.979);
    padding-top: 15px;
}

